@model Nightingale.Login.Site.Models.LocalPasswordModel

<h3>Set password</h3>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <label>
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
    </label>
    <label>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
    </label>
    <input type="submit" value="Confirm" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}