@using System.Web.Optimization
<!--
Licensed Materials - Property of IBM
PID : 5725-Z49
Copyright IBM Corp. 2013, 2016
US Government Users Restricted Rights- Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->

<!DOCTYPE html>
<html>
<head>
    @*The following script is not running properly*@
    <script src="//cdn.optimizely.com/js/251330794.js"></script>
    <title>Nightingale</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-startup-image" href="~//NightingaleUI/Content/images/ios-startup-image-landscape.png" media="(orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="~//NightingaleUI/Content/images/ios-startup-image-portrait.png" media="(orientation:portrait)" />
    <link rel="apple-touch-icon" href="~//NightingaleUI/Content/images/icon.png" />
    <script type="text/javascript" src="~/Scripts/modernzr.js"></script>
    @*<script type="text/javascript" src="~/Scripts/es5-shim.min.js"></script>
        <script type="text/javascript" src="~/Scripts/es5-sham.min.js"></script>*@
    @Styles.Render("~/Content/normalize")
    @*<link rel="stylesheet" type="text/css" href="~/Content/CSS/application.css" media="screen" />*@
    <link rel="stylesheet" type="text/css" href="//az571236.vo.msecnd.net/css/applicationv31.css?v31" media="screen" />
    @Styles.Render("~/Content/ie10mobile")
    @*@Styles.Render("~/Content/nightingale/vendor")*@
    @Styles.Render("~/Content/nightingale/Nightingale")

    <!-- begin Wootric code -->
    <script type="text/javascript">
        var name = localStorage
        if (window.location.href.indexOf("showwootric") > -1) {
            wootric_survey_immediately = true;
        }

        window.wootricSettings = {
            email:'russell.olsen@us.ibm.com',
            created_at: 1234567890,
            account_token: 'NPS-4f32351b'
        };
    </script>
    <script type="text/javascript">/*{literal}<![CDATA[*/if(window.wootricSettings){i=new Image;i.src="//d8myem934l1zi.cloudfront.net/pixel.gif?account_token="+window.wootricSettings.account_token+"&email="+encodeURIComponent(window.wootricSettings.email)+"&created_at="+window.wootricSettings.created_at+"&url="+encodeURIComponent(window.location)+"&random="+Math.random()}window.lightningjs||function(c){function g(b,d){d&&(d+=(/\?/.test(d)?"&":"?")+"lv=1");c[b]||function(){var i=window,h=document,j=b,g=h.location.protocol,l="load",k=0;(function(){function b(){a.P(l);a.w=1;c[j]("_load")}c[j]=function(){function m(){m.id=e;return c[j].apply(m,arguments)}var b,e=++k;b=this&&this!=i?this.id||0:0;(a.s=a.s||[]).push([e,b,arguments]);m.then=function(b,c,h){var d=a.fh[e]=a.fh[e]||[],j=a.eh[e]=a.eh[e]||[],f=a.ph[e]=a.ph[e]||[];b&&d.push(b);c&&j.push(c);h&&f.push(h);return m};return m};var a=c[j]._={};a.fh={};a.eh={};a.ph={};a.l=d?d.replace(/^\/\//,(g=="https:"?g:"http:")+"//"):d;a.p={0:+new Date};a.P=function(b){a.p[b]=new Date-a.p[0]};a.w&&b();i.addEventListener?i.addEventListener(l,b,!1):i.attachEvent("on"+l,b);var q=function(){function b(){return["<head></head><",c,' onload="var d=',n,";d.getElementsByTagName('head')[0].",d,"(d.",g,"('script')).",i,"='",a.l,"'\"></",c,">"].join("")}var c="body",e=h[c];if(!e)return setTimeout(q,100);a.P(1);var d="appendChild",g="createElement",i="src",k=h[g]("div"),l=k[d](h[g]("div")),f=h[g]("iframe"),n="document",p;k.style.display="none";e.insertBefore(k,e.firstChild).id=o+"-"+j;f.frameBorder="0";f.id=o+"-frame-"+j;/MSIE[ ]+6/.test(navigator.userAgent)&&(f[i]="javascript:false");f.allowTransparency="true";l[d](f);try{f.contentWindow[n].open()}catch(s){a.domain=h.domain,p="javascript:var d="+n+".open();d.domain='"+h.domain+"';",f[i]=p+"void(0);"}try{var r=f.contentWindow[n];r.write(b());r.close()}catch(t){f[i]=p+'d.write("'+b().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};a.l&&q()})()}();c[b].lv="1";return c[b]}var o="lightningjs",k=window[o]=g(o);k.require=g;k.modules=c}({});window.wootric = lightningjs.require("wootric", "//d27j601g4x0gd5.cloudfront.net/beacon.js");window.wootric("run");/*]]>{/literal}*/</script>
    <!-- end Wootric code -->

    <script type="text/javascript">
        if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
            var msViewportStyle = document.createElement("style");
            var mq = "@@-ms-viewport{width:auto!important}";
            msViewportStyle.appendChild(document.createTextNode(mq));
            document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
        }
        @{
            var appVersion = "App/main-built.js?v=" + (ViewContext.Controller.GetType().Assembly.GetName().Version);
        }
    </script>
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', '@Nightingale.Site.UrlHelper.GetGoogleAnalyticsId()', 'auto');
        ga('send', 'pageview', { 'page': 'NightingaleUI/Index' });

    </script>
    <!-- End Google Analytics -->
</head>
<body class="full_span" data-phyautomation="body-full_span">
    <div id="applicationHost">
    </div>
    @Scripts.Render("~/bundles/jquery.js")
    @Scripts.Render("~/bundles/jqueryui.js")
    @Scripts.Render("~/bundles/chosen.js")
    @*@Scripts.Render("~/bundles/knockout.js")*@
    <script type="text/javascript" src="~/Scripts/knockout-3.2.0.debug.js"></script>
    <script type="text/javascript" src="~/Scripts/q.js"></script>
    <script type="text/javascript" src="~/Scripts/breeze.debug.js"></script>

    @Scripts.Render("~/bundles/moment.js")
    @Scripts.Render("~/bundles/vendor.js")
    @*@Scripts.Render("~/bundles/venn.js")*@
    @Scripts.Render("~/bundles/fullcalendar.js")
    @Scripts.Render("~/bundles/jquery.timePicker.js")
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="~/Scripts/require.js" data-main="@Url.Content("~/App/main")"></script>
    }
    else
    {
        <script type="text/javascript" src=@appVersion></script>
    }
</body>
</html>
