<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("PageStyling", false)
</head>
<body class="full_span">
    <div>
        <div>
            <header role="banner">
                <img class="brand" data-bind="attr: { src: currentBrand().imageSource }" src="//phytelcdn.blob.core.windows.net/images/phytel_logo.png">
                <div class="options">
                    <div class="user-menu dropdown" data-bind="with: $parent.session.currentUser, clickToggle: $parent.userMenuOpen, css: { 'open': $parent.userMenuOpen }">
                        <div class="dropdown-toggle">
                            <a class="disabled" data-bind="text: 'User - ' + userName()">User - inhealthadmin</a>
                        </div>
                        <div class="dropdown-content">
                            <li data-bind="click: $parents[1].session.logOff">
                                <a href="#" data-bind="click: $parents[1].session.logOff">Sign Out</a>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="options loading-messages">
                    <div class="user-menu dropdown open" data-bind="visible: $parent.compLoadingMessages().length !== 0 &amp;&amp; $parent.loadingMessagesShowing() === true " style="display: none;">
                        <div class="dropdown-toggle">
                            <span class="disabled"><strong>Loading...</strong><i class="icon-spinner icon-spin grey icon-2x"></i></span>
                        </div>
                        <ul class="dropdown-content" data-bind="foreach: $parent.compLoadingMessages"></ul>
                    </div>
                </div>
            </header>
            <header role="navigation">
                <div class="menu_toggle" data-bind="click: $parent.toggleNavVisibility">
                    <img src="//phytelcdn.blob.core.windows.net/images/main_menu_toggle.png" data-phyautomation="navigation-context-button">
                    <img data-bind="attr: { src: !!currentRoute().config.settings ? currentRoute().config.settings.imageSource : '' }" data-phyautomation="route-image" src="//phytelcdn.blob.core.windows.net/images/nav_patients.png">
                    <span data-bind="text: !!currentRoute().config.settings ? currentRoute().config.settings.content : '' " data-phyautomation="route-header">Patients</span>
                </div>
                <nav class="tabs">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Icons", "IconPreview", "Home")</li>
                    </ul>
                </nav>
            </header>
            <main role="application" id="application">
                @RenderBody()
            </main>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>