<!DOCTYPE html>
<html lang="en">
<head>
    <title>Population Management</title>
    <meta charset="utf-8" />
    <link href="/Content/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!--[if IE]>
    <link href="/stylesheets/ie-overwrites.css" media="all" rel="stylesheet" /><![endif]-->

</head>
<body>
    <header role="banner">
        <img alt="Phytel logo" class="brand" src="~/Content/images/phytel_logo.png" />
        <div class="options">
        </div>
    </header>
    <main role="application">
        <div>
            <section class="open" data-type="fixed">
                <div class="widget span10 pull-right shadow">
                    <div class="content">
                        <header><h1>Sign In</h1></header>
                        <div class="body">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </section>
            <section data-type="flex">
                @Html.Partial("_LoginCenterColumnPartial")
                @Html.Partial("_LoginRightColumnPartial")
            </section>
        </div>
    </main>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>